<% @menus.each do |menu| %>
<div class="container">
<div class="menu_card">
        <h1 class="title"><%= menu.name %></h1>
        <div class="maind">
            <div class= "container">
                <div class="col-xs-3">
                    <%= attachment_image_tag menu, :menu_image, fallback: "no_image.jpg", size: "150x150", id: "prev_img" %>
                </div>
                <div class="col-xs-9">
                    <h2 class="explanation"><%= menu.explanation %></h2>
                </div>
            </div>
        </div>
</div>
<%= link_to "予定表を作る", hairdressers_reservation_index_path(menu.id) %>
</div>
<% end %>
<%= link_to "マイページへ",  hairdresser_path(@current_hairdresser.id) %>
