<div class="container" style="font-size: 0; padding-top: 10px;">
    <%= link_to admins_user_chart_path, class: "position" do %>
        <div class="admin_data border_none">
            <p class="admin_data_option">会員データ</p>
        </div>
    <% end %>
    <%= link_to admins_hairdresser_chart_path do %>
        <div class="admin_data border_none">
            <p class="admin_data_option">美容師データ</p>
        </div>
    <% end %>
    <%= link_to admins_sell_chart_path do %>
        <div class="admin_data border">
            <p class="admin_data_option">売り上げデータ</p>
        </div>
    <% end %>
</div>
<h1 class="res_font3 res_center">売り上げ推移(日別)</h1>
<div class="chart">
    <canvas id="sell_day_chart"></canvas> <!--canvas要素は、グラフィックなどが描写可能なビットマップキャンバスを提供します。-->
</div>
<%= link_to "前の週", admins_sell_chart_path(pre_day: @day_standard), remote: true, class: "color" %>
<% if @day_standard != Date.today %>
    <%= link_to "次の週", admins_sell_chart_path(next_day: @day_standard), remote: true, class: "color" %>
<% end %>

<h1 class="res_font3 res_center">週間売り上げ推移</h1>
<div class="chart">
    <canvas id="sell_week_chart"></canvas> <!--canvas要素は、グラフィックなどが描写可能なビットマップキャンバスを提供します。-->
</div>
<%= link_to "前の週", admins_sell_chart_path(pre_week: @week_standard), remote: true, class: "color" %>
<% if @week_standard != Date.today %>
    <%= link_to "次の週", admins_sell_chart_path(next_week: @week_standard), remote: true, class: "color" %>
<% end %>

<h1 class="res_font3 res_center">月間売り上げ推移</h1>
<div class="chart">
    <canvas id="sell_month_chart"></canvas> <!--canvas要素は、グラフィックなどが描写可能なビットマップキャンバスを提供します。-->
</div>
<%= link_to "前の月", admins_sell_chart_path(pre_month: @month_standard), remote: true, class: "color" %>
<% if @month_standard != Date.today %>
    <%= link_to "次の月", admins_sell_chart_path(next_week: @month_standard), remote: true, class: "color" %>
<% end %>

<h1 class="res_font3 res_center">週間総売上推移</h1>
<div class="chart">
    <canvas id="sell_week_index_chart"></canvas> <!--canvas要素は、グラフィックなどが描写可能なビットマップキャンバスを提供します。-->
</div>
<%= link_to "前の週", admins_sell_chart_path(pre_week_index: @week_index_standard), remote: true, class: "color" %>
<% if @week_index_standard != Date.today.end_of_week %>
    <%= link_to "次の週", admins_sell_chart_path(next_week_index: @week_index_standard), remote: true, class: "color" %>
<% end %>

<h1 class="res_font3 res_center">月間総売上推移</h1>
<div class="chart">
    <canvas id="sell_month_index_chart"></canvas> <!--canvas要素は、グラフィックなどが描写可能なビットマップキャンバスを提供します。-->
</div>
<%= link_to "前の月", admins_sell_chart_path(pre_month_index: @month_index_standard), remote: true, class: "color" %>
<% if @month_index_standard != Date.today.end_of_month %>
    <%= link_to "次の月", admins_sell_chart_path(next_month_index: @month_index_standard), remote: true, class: "color" %>
<% end %>

<script>
    var ctx = document.getElementById("sell_day_chart");
    myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= @time_day_arry_update %>,
            datasets: [
                {
                    label: '売り上げ(円)',
                    data: <%= @money_day_arry_update %>,
                    borderColor: "red",
                    backgroundColor: "rgba(0,0,0,0)",
                    lineTension: 0  //グラフの曲がり具合を表す 0にすると折れ線グラフになる
                },
            ],
        },
        options: {
            title: {
                display: false,
                text: ''
            },
            scales: {
                yAxes: [{  //y軸の設定
                    ticks: {
                        //suggestedMax: 80,    //データがこの値を超えたらその値がmaxに自動でなる
                        suggestedMin: 0,
                        stepSize: 1000,
                        callback: function(value, index, values){
                            return  value +  '円'
                        }
                    }
                }]
            },
        }
    });

    var ctx = document.getElementById("sell_week_chart");
    myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= @time_week_arry_update %>,
            datasets: [
                {
                    label: '売り上げ(円)',
                    data: <%= @money_week_arry_update %>,
                    borderColor: "red",
                    backgroundColor: "rgba(0,0,0,0)",
                    lineTension: 0  //グラフの曲がり具合を表す 0にすると折れ線グラフになる
                },
            ],
        },
        options: {
            title: {
                display: false,
                text: ''
            },
            scales: {
                yAxes: [{  //y軸の設定
                    ticks: {
                        //suggestedMax: 80,    //データがこの値を超えたらその値がmaxに自動でなる
                        suggestedMin: 0,
                        stepSize: 1000,
                        callback: function(value, index, values){
                            return  value +  '円'
                        }
                    }
                }]
            },
        }
    });

    var ctx = document.getElementById("sell_month_chart");
    myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%=  @time_month_arry_update %>,
            datasets: [
                {
                    label: '売り上げ(円)',
                    data: <%= @money_month_arry_update %>,
                    borderColor: "red",
                    backgroundColor: "rgba(0,0,0,0)",
                    lineTension: 0  //グラフの曲がり具合を表す 0にすると折れ線グラフになる
                },
            ],
        },
        options: {
            title: {
                display: false,
                text: ''
            },
            scales: {
                yAxes: [{  //y軸の設定
                    ticks: {
                        //suggestedMax: 80,    //データがこの値を超えたらその値がmaxに自動でなる
                        suggestedMin: 0,
                        stepSize: 1000,
                        callback: function(value, index, values){
                            return  value +  '円'
                        }
                    }
                }]
            },
        }
    });

    var ctx = document.getElementById("sell_week_index_chart");
    myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= @time_week_index_arry_update %>,
            datasets: [
                {
                    label: '売り上げ(円)',
                    data: <%= @money_week_index_arry_update %>,
                    borderColor: "red",
                    backgroundColor: "rgba(0,0,0,0)",
                    lineTension: 0  //グラフの曲がり具合を表す 0にすると折れ線グラフになる
                },
            ],
        },
        options: {
            title: {
                display: false,
                text: ''
            },
            scales: {
                yAxes: [{  //y軸の設定
                    ticks: {
                        //suggestedMax: 80,    //データがこの値を超えたらその値がmaxに自動でなる
                        suggestedMin: 0,
                        stepSize: 1000,
                        callback: function(value, index, values){
                            return  value +  '円'
                        }
                    }
                }]
            },
        }
    });

    var ctx = document.getElementById("sell_month_index_chart");
    myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= @time_month_index_arry_update %>,
            datasets: [
                {
                    label: '売り上げ(円)',
                    data: <%= @money_month_index_arry_update %>,
                    borderColor: "red",
                    backgroundColor: "rgba(0,0,0,0)",
                    lineTension: 0  //グラフの曲がり具合を表す 0にすると折れ線グラフになる
                },
            ],
        },
        options: {
            title: {
                display: false,
                text: ''
            },
            scales: {
                yAxes: [{  //y軸の設定
                    ticks: {
                        //suggestedMax: 80,    //データがこの値を超えたらその値がmaxに自動でなる
                        suggestedMin: 0,
                        stepSize: 1000,
                        callback: function(value, index, values){
                            return  value +  '円'
                        }
                    }
                }]
            },
        }
    });
</script>