<div class="container center" style="padding-top: 50px;">
    <h1 class="admin_title">承認待ち美容師一覧</h1>
    <table class="table">
        <thead>
            <th class="center">名前</th><th class="center">メールアドレス</th><th class="center">店舗名</th><th class="center">店舗住所</th><th class="center">性別</th>
        </thead>
        <tbody>
            <% @hairdressers.each do |hairdresser| %>
                <tr>
                    <td>
                        <%= link_to users_hairdresser_path(hairdresser.id), remote: true do %>
                            <p class="reservation_hairdresser_name cursor"><%= hairdresser.name %></p>
                        <% end %>
                    </td>
                    <td>
                        <%= hairdresser.email %>
                    </td>
                    <td>
                        <%= hairdresser.shop_name %>
                    </td>
                    <td>
                        <%= hairdresser.address %>
                    </td>
                    <td>
                        <%= hairdresser.sex %>
                    </td>
                    <td>
                        <%= link_to users_hairdresser_path(hairdresser.id), remote: true do %>
                            <p class="btn btn-success">詳細</p>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div id="hairdresser_show" class="back_dark">
</div>
