<div class="container center">
    <h1 class="admin_title">美容師一覧</h1>
    <table class="table">
        <thead>
            <th class="center">id</th><th class="center">名前</th><th class="center">メールアドレス</th><th class="center">店舗名</th><th class="center">店舗住所</th><th class="center">性別</th><th class="center">評価</th>
        </thead>
        <tbody>
            <% @hairdressers.each do |hairdresser| %>
                <tr>
                    <td>
                        <%= hairdresser.id %>
                    </td>
                    <td>
                        <%= link_to users_hairdresser_path(id: hairdresser.id, admin: "admin"), remote: true do %>
                            <p class="reservation_hairdresser_name cursor"><%= hairdresser.name %></p>
                        <% end %>
                    </td>
                    <td>
                        <%= hairdresser.email %>
                    </td>
                    <td>
                        <%= hairdresser.shop_name %>
                    </td>
                    <td>
                        <%= hairdresser.address %>
                    </td>
                    <td>
                        <%= hairdresser.sex %>
                    </td>
                    <td>
                        <div id="star-rate-index-average-<%= hairdresser.id %>"></div>
                        <% @comments = hairdresser.hairdresser_comments.where.not(rate: nil).count %>
                            <script>
                                $('#star-rate-index-average-<%= hairdresser.id %>').raty({
                                size: 36,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                starHalf: '<%= asset_path('star-half.png') %>',
                                half: true,
                                readOnly: true,
                                //reputation_pointは評価ポイント(星)の合計　@commentsはコメントの数(評価ポイントをくれた人の人数) この二つで平均を出す　
                                score: <%= hairdresser.reputation_point %>/<%= @comments %>,
                                });
                            </script>
                    </td>
                    <td>
                        <%= link_to users_hairdresser_path(hairdresser.id), remote: true do %>
                            <p class="btn btn-success">詳細</p>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div id="hairdresser_show" class="sign_up_in">
</div>



<header class="display_none">
            <img src="<%= asset_path "new_logo.png" %>" class="log"><!--cho.png-->
            <%= link_to root_path do %>
                <div class="link_box"></div> <!--本来ならここにロゴをセットするがロゴ画像の背景を削除できなくてロゴ周辺がリンクになってしまうため工夫するしかなかった-->
            <% end %>
            <%= link_to "サロンの方はこちら", hairdresser_top_path, class: "salon"%>
            <div class="search_form_header">
                <%= form_with(url: search_data_path, method: :post, local: true, class: "welcome") do |f| %>
                    <%= f.text_field :search_keyword, placeholder: "美容師名、メニュー名など", class: "form-control search_top" %>
                    <button type="submit" class="btn btn-primary search_icon_btn"> 
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button> 
                <% end %>
                <% if @current_user %>
                    <div class="welcome">
                        <p class="">ようこそ、<%= @current_user.name %>さん</p>
                        <p class="">現在のポイントは、<%= @current_user.point %>pt</p>
                        <p><%= link_to "ログアウト", user_logout_path, method: :post %></p>
                    </div>
                <% end %>
                <% if @current_hairdresser %>
                    <div class="welcome2">
                        <p class="">ようこそ、<%= @current_hairdresser.name %>さん</p>
                        <p><%= link_to "ログアウト", hairdresser_logout_path, method: :post %></p>
                    </div>
                <% end %>
            </div>

            <% if @current_user %>
                <div id = "user_header">
                    <li class="tag tag_left"><%= link_to "マイページ", user_path(@current_user.id)%></li>
                    <li class="tag"><%= link_to "美容師一覧", hairdressers_path  %></li>
                    <li class="tag"><%= link_to "予約", users_reservations_path %></li>
                    <li class="tag"><%= link_to "チャット", user_chat_path %></li>
                    <li class="tag"><%= link_to "クレジットカード", new_user_card_path, class: "decoration_none" %></li>
                </div>
            <% elsif @current_hairdresser %>
                <ul id = "hairdresser_header">
                    <li class="tag tag_left"><%= link_to "マイページ", hairdresser_path(@current_hairdresser.id)%></li>
                    <li class="tag"><%= link_to "メニュー作成", new_menu_path%></li>
                    <li class="tag"><%= link_to "メニュー", menus_path %></li>
                    <% if @notice_reservations_number != 0 %>
                        <li class="tag"><span class="notice_number"><%= @notice_reservations_number %></span><%= link_to "予約", hairdressers_reservations_path %></li>
                    <% else %>
                        <li class="tag"><%= link_to "予約", hairdressers_reservations_path %></li>
                    <% end %>
                    <% if @cancel_number != 0 %>
                        <li class="tag"><span class="notice_cancel_number"><%= @cancel_number %></span><%= link_to "キャンセル", hairdressers_cancel_index_path, class: "cancel_link" %></li>
                    <% else %>
                        <li class="tag"><%= link_to "キャンセル", hairdressers_cancel_index_path, class: "cancel_link" %></li>
                    <% end %>
                    <li class="tag"><%= link_to "チャット", hairdresser_chat_path %></li>
                    <li class="tag"><%= link_to "ヘアスタイル", edit_style_image_path(@current_hairdresser.id) %></li>
                </ul>
            <% elsif @current_admin %>
                <ul id = "admin_header">
                    <li class="tag tag_left"><%= link_to "会員", admins_user_index_path%></li>
                    <li class="tag"><%= link_to "美容師", admins_hairdresser_index_path %></li>
                    <li class="tag"><%= link_to "承認待ち", admins_hairdresser_judge_index_path%></li>
                    <li class="tag"><%= link_to "チャート", admins_user_chart_path%></li>
                    <li class="tag"><%= link_to "ログアウト", admins_logout_path, method: :post %></li>
                </ul>
            <!-- ログインしてない時 -->
            <% elsif @user_page == "user"%>
                <ul id = "none_login_user">
                    <li class="tag tag_left scroll-btn" href="#top_hairdresser_slider">人気美容師</li>
                    <li class="tag scroll-btn" href="#FAQ">FAQ</li>
                    <li class="tag"><%= link_to "美容師一覧", hairdressers_path %></li>
                    <li class="tag login">ログイン</li>
                    <li class="tag sign_up">新規会員登録</li>
                    <div class="answer slide_down sign_in_block_user">
                        <p id="login_user" class="cursor">会員ログイン</p>
                        <p id="login_hairdresser" class="cursor ">美容師ログイン</p>
                    </div>
                    <div class="answer2 slide_down sign_up_block_user">
                        <p id="new_user" class="cursor ">会員登録</p>
                        <p id="new_hairdresser" class="cursor ">美容師登録</p>
                    </div>
                </ul>
            <% elsif  @hairdresser_page == "hairdresser" %>
                <ul id = "none_login_hairdresser">
                    <li class="tag tag_left scroll-btn" href="#top_hairdresser_slider">ご利用者さまの声</li>
                    <li class="tag scroll-btn" href="#FAQ">FAQ</li>
                    <li class="tag"><%= link_to "美容師一覧", hairdressers_path %></li>
                    <li class="tag login">ログイン</li>
                    <li class="tag sign_up">新規会員登録</li>
                    <div class="answer slide_down sign_in_block_hairdresser">
                        <p id="login_user" class="cursor">会員ログイン</p>
                        <p id="login_hairdresser" class="cursor ">美容師ログイン</p>
                    </div>
                    <div class="answer2 slide_down sign_up_block_hairdresser">
                        <p id="new_user" class="cursor ">会員登録</p>
                        <p id="new_hairdresser" class="cursor ">美容師登録</p>
                    </div>
                </ul>
            <% else %>
                <ul id = "none_login">
                    <li class="tag"><%= link_to "美容師一覧", hairdressers_path %></li>
                    <li class="tag login">ログイン</li>
                    <li class="tag sign_up">新規会員登録</li>
                    <div class="answer slide_down sign_in_block_hairdresser none_login">
                        <p id="login_user" class="cursor">会員ログイン</p>
                        <p id="login_hairdresser" class="cursor ">美容師ログイン</p>
                    </div>
                    <div class="answer2 slide_down sign_up_block_hairdresser none_new">
                        <p id="new_user" class="cursor ">会員登録</p>
                        <p id="new_hairdresser" class="cursor ">美容師登録</p>
                    </div>
                </ul>
            <% end %>
        </header>