<div class="admin_login_page">
    <p class="error"><%= @error %></p>
    <%= form_with(url: admins_login_path, method: :post, id: "admin_login_form", local: true) do |f| %>
        <p>メールアドレス</p>
        <%= f.text_field :email, class: "form-control admin_login_form" %>
        <p>パスワード</p>
        <%= f.password_field :password, class: "form-control admin_login_form" %>
        <%= f.submit "ログイン", class: "btn btn-success" %>
    <% end %>
</div>