<% if @cancel_reservations.blank? %>
    <p class="center" style="padding-top: 80px;">キャンセルはありません。</p>
<% end %>

<div class="container center index_user_reservations">
    <% i = @date_number - 1 %>
    <% @date_number.times do %>
        <div class="date_data">
            <div class="date">
                <%= @date_arry[i].year %>年<%= @date_arry[i].month %>月<%= @date_arry[i].day %>日
            </div>
            <table class="table reservation_table">
                <thead>
                    <th></th>
                    <th class="center">時間</th>
                    <th class="center">メニュー名</th>
                    <th class="center">予約した人</th>
                    <th class="center">性別</th>
                </thead>
                <tbody>
                    <% @cancel_reservations.each do |cancel_reservation| %>
                        <% if @date_arry[i] == cancel_reservation.start_time.to_date %>
                                 <tr>
                                    <td>
                                        <% if flash[:notice_cancel_reservations].present? && flash[:notice_cancel_reservations].pluck(:id).include?(cancel_reservation.id)%>
                                            <p class="flash_new">new</p>
                                        <% end %>
                                    </td>
                                    <td>
                                        <%= cancel_reservation.start_time.hour %>時<%= cancel_reservation.start_time.min %>分
                                    </td>
                                    <td>
                                        <%= cancel_reservation.menu.name %>
                                    </td>
                                    <td>
                                        <%= cancel_reservation.user.name %>さん
                                    </td>
                                    <td>
                                        <%= cancel_reservation.user.sex %>
                                    </td>
                                </tr>
                        <% end %>
                    <% end %>
                </tbodY>
            </table>
        </div>
        <% i -= 1 %>
    <% end %>  
</div>  