<% @reservations.each do |reservation| %>
    <% if reservation.menu.hairdresser_id == @current_hairdresser.id && reservation.user_id.present? %>
        <%= reservation.start_time.year %>年<%= reservation.start_time.month %>月<%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分
        <%= reservation.id %>
        <%= reservation.menu.name %>
        <% user =  @user_model.find(reservation.user_id) %>
        <%= user.name %>さん
        <% @hairdresser_comment =  @comment_model.find_by(start_time: reservation.start_time) %>
        <div id="star-rate-<%= @hairdresser_comment.id %>"></div>
            <script>
            $('#star-rate-<%= @hairdresser_comment.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @hairdresser_comment.rate %>,
            });
            </script>
        <% if @hairdresser_comment.comment != "" || @hairdresser_comment.comment == nil%>
            <%= link_to "コメント",  hairdresser_comment_path(@hairdresser_comment.id) %>
        <% end %>
    <% end %>
<% end %>