<% if @reservations.blank? %>
    <p class="center" style="padding-top: 80px;">予約はありません。</p>
<% end %>

<div class="container center index_user_reservations">
    <% i = @date_number - 1 %>
    <% @date_number.times do %>
        <div class="date_data">
            <div class="date">
                <%= @date_arry[i].year %>年<%= @date_arry[i].month %>月<%= @date_arry[i].day %>日
            </div>
            <table class="table reservation_table">
                <thead>
                    <th></th>
                    <th class="center">時間</th>
                    <th class="center">メニュー名</th>
                    <th class="center">予約した人</th>
                    <th class="center">電話番号</th>
                    <th class="center">お客様のご希望</th>
                    <th class="center">評価</th>
                    <th class="center">コメント</th>
                </thead>
                <tbody>
                    <% @reservations.each do |reservation| %>
                        <% if @date_arry[i] == reservation.start_time.to_date %>
                            <tr>
                                <td>
                                    <% if flash[:notice_reservations].present? %>
                                        <% if flash[:notice_reservations].pluck(:id).include?(reservation.id) %>
                                            <p class="flash_new">new</p>
                                        <% end %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分
                                </td>
                                <td>
                                    <%= reservation.menu.name %>
                                </td>
                                <td>
                                    <%= reservation.user.name %>さん
                                </td>
                                <td>
                                    <%= reservation.user.phone_number %>
                                </td>
                                <td>
                                    <% if reservation.user_request == nil || reservation.user_request == ""%>
                                        <p>ご希望なし</p>
                                    <% else %>
                                        <p class="cursor user_hope">ご希望あり</p>
                                        <div id="user_request" class="sign_up_in">
                                            <div class="user_request_modal center">
                                                <span class="glyphicon glyphicon-remove cursor" style="margin-left: 410px;"></span>
                                                <p style="font-size: 20px;"><%= reservation.user_request %></p>
                                            </div>
                                        </div>
                                    <% end %>
                                </td>
                                <td>
                                    <% @hairdresser_comment =  reservation.user.hairdresser_comments.find_by(start_time: reservation.start_time) %>
                                    <div id="star-rate-<%= @hairdresser_comment.id %>" class="raty"></div>
                                        <script>
                                            $('#star-rate-<%= @hairdresser_comment.id %>').raty({
                                                size: 36,
                                                starOff:  '<%= asset_path('star-off.png') %>',
                                                starOn : '<%= asset_path('star-on.png') %>',
                                                starHalf: '<%= asset_path('star-half.png') %>',
                                                half: true,
                                                readOnly: true,
                                                score: "<%= @hairdresser_comment.rate %>",
                                            });
                                        </script>
                                </td>
                                <td>
                                    <% if @hairdresser_comment.comment == nil || @hairdresser_comment.comment == ""%>
                                        <p>コメントなし</p>
                                    <% else %>
                                        <p class="cursor user_hope">コメントあり</p>
                                        <div id="user_request" class="sign_up_in">
                                            <div class="user_request_modal center">
                                                <span class="glyphicon glyphicon-remove cursor" style="margin-left: 410px;"></span>
                                                <p style="font-size: 20px;"><%= @hairdresser_comment.comment %></p>
                                            </div>
                                        </div>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbodY>
            </table>
        </div>
        <% i -= 1 %>
    <% end %>  
</div>  
        
  