<div class="container">
    <%= form_with(url: hairdressers_reservations_path, method: :post, local: true) do |f| %>
        <div class="time">
            <%= f.label :start_time %>                             
            <%= f.datetime_select :start_time, :start_year => @year.to_i, :start_hour => 06, :minute_step => 30, :use_month_numbers => true, :default => Date.new(@year.to_i, @month.to_i, @day.to_i)+@hour.to_i.hours+@min.to_i.minutes %>
            <%= f.hidden_field :menu_id, :value => @menu.id %>
            <%= f.submit '作成',class: "btn btn-primary "%>
        </div>
    <%end%>
    <% if @reservation.errors.any? %>
        <div class="alert">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this book from being saved:</h2>
        <ul class="error" type="disc">
            <% @reservation.errors.full_messages.each do |reservation| %>
            <li class="error_message"><%= reservation %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    <div>
        <% @reservations.each do |reservation| %>
            <div>
                <% if reservation.start_time.year == @year.to_i && reservation.start_time.month == @month.to_i && reservation.start_time.day == @day.to_i%>
                    <span><%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分
                    <span><%= link_to "削除", hairdressers_reservation_path(reservation.id), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }  %></span>
                <% end %>
            </div>
        <% end %>
    </div>
    <%= link_to "カレンダーに戻る", hairdressers_reservation_index_path(menu_id: @menu.id) %>
</div>