<div class="container">

    <h3 class="please_reservation">予定表を編集してください<%= link_to "月間カレンダーへ", hairdressers_set_month_calendar_reservation_path(menu_id: @menu.id), class: "to_month_calendar color" %></h3>

    <!--menuカード-->
    <%= render "menus/menu2" %>

    <!--記号の説明-->
    <div class="explain_simbol">
        <span style="color: red;" class="simbol">◎</span>予約可能
        <span style="color: blue;" class="simbol">◎</span>予約あり
        <span class="glyphicon glyphicon-remove simbol" aria-hidden="true"></span>予約不可
    </div>

    <!--ここから週間カレンダー-->
    <table class="week_reservation_table">
        <thead class="table_header" id="table_head">
            <%= render "home/thead" %>
        </thead>
        <tbody id="table_body">
            <tr>
                <!--左の時刻表-->
                <th class="border_right table_time">
                    <table>
                        <tbody class="times">
                            <% @clock_arry.each do |clock| %>
                                <tr>
                                    <th class="width4"><%= clock %></th>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </th>
                
                <!--バツマル-->
                <% for i in 0..(@date_arry.length - 1) do %>
                    <th class="border_right">
                        <!--このテーブルは縦一列-->
                        <table>
                            <tbody class="simbols">
                                <% @time_arry.each do |time| %>
                                    <% if @date_arry[i] == time.to_date %>
                                        <tr>
                                            <td href="<%=time%>" id="<%=time.year%><%=time.month%><%=time.day%><%=time.hour%><%=time.min%>" , class="border_bottom function width3 td_color">
                                                <% if Reservation.find_by(start_time: time, menu_id: @menu.id).present? %>
                                                    <% if Reservation.find_by(start_time: time, menu_id: @menu.id).user_id != nil %> <!--その時間に予約している会員がいるかどうか-->
                                                        <p style='color: blue;' class="simbol_exist_reservation">◎</p>
                                                    <% else %>
                                                        <p style='color: red;' class="simbol_round exist_reservation">◎</p>
                                                    <% end %>
                                                <% else %> <!--予約を作成していない時間のとき-->
                                                        <p class="glyphicon glyphicon-remove simbol_remove not_reservation" aria-hidden="true"></p>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                        </table>
                    </th>
                <% end %>
                    
                <!--右の時刻表-->
                <th class="table_time">
                    <table>
                        <tbody class="times">
                            <% @clock_arry.each do |clock| %>
                                <tr>
                                    <th class="width4"><%= clock %></th>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </th>

            </tr>
        </tbody>
    </table>

    <div class="change_form">
        <%= form_with(url: hairdressers_create_destroy_reservation_path, method: :post, local: true, id: "hairdresser_reservation_form") do |f| %>
            <%= f.hidden_field :menu_id, value: @menu.id %>
            <%= f.hidden_field :standard_day, value: @standard_day %>
            <%= f.submit "変更を保存", class: "btn btn-success" %>
        <% end %>
    </div>

</div>
