<div class="container">
    <h3 class="please_reservation">予定表を編集してください<%= link_to "週間カレンダーへ", hairdressers_set_week_calendar_reservation_path(menu_id: @menu.id), class: "to_month_calendar color" %></h3>
    
    <!--menuカード-->
    <%= render "menus/menu2" %>

    <div style="margin-top: 80px; margin-bottom: 80px;">
        <%= month_calendar events: @reservations do |date, reservations| %>
            <%= date.day %>
            <% if Date.today <= date %>
                <%= link_to "予約設定", new_hairdressers_reservation_path(year: date.year, month: date.month, day: date.day, hour: 6, min: 0,menu_id: @menu.id), class: "color" %>
                <% reservations.each do |reservation| %>
                    <div> 
                        <% if reservation.user_id != nil%>
                            <span><%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分</span><span style="float: right; color: blue;">予約あり</span>
                        <% else %>
                            <span><%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分</span>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        
    </div>
</div>