<% if @user.save %><!--saveに成功した時-->
    $(".back_dark").eq(7).remove();
    html = `   
                <div id="email" class="back_dark"><!--メールを送信しましたのhtml-->
                    <div class="send_email">
                        <span class="glyphicon glyphicon-remove cursor" style="float: right;"></span>
                        <h2>確認メールを送信しました</h2>
                        <p>確認メールを<%=@user.email%>に送信しました。</p>
                        <p>送信された確認メール内に記載されたURLにアクセルすると登録が完了します。</p>
                        <p>※URLの有効期限は10分間です。</p>
                        <%= form_with(url: user_resend_path) do |f| %>
                        <% end %>
                        <%= link_to "メールを再送信", user_resend_path, method: :post, remote: true, class: "btn btn-success resend", style: "width: 200px; margin-top: 70px;" %>
                        <div id="resend" class="cursor2"></div>
                    </div>
                </div>
            `
    $("body").append(html);
    $('.back_dark').eq(1).hide();
    $(".back_dark").eq(7).show();
<% else %><!--save時にvalidationに捕まった時-->
    $(".total").remove();
    $(".user_register_total_error").append('<h2 class="total"><%= @total_error %>件のエラーがあります</h2>');
    <% if @error_name_short_long.present? || @error_name_taken.present? %>
        $(".name_short_long").remove();
        $(".name_taken").remove();
        <% if @error_name_short_long.present? %>
            $(".user_register_form_name_error").append('<p class="name_short_long"><%= @error_name_short_long %></p>');
        <% end %>
        <% if @error_name_taken.present? %>
            $(".user_register_form_name_error").append('<p class="name_taken"><%= @error_name_taken %><p>');
        <% end %>
        $(".name").css({
            "border-color": "red",
            "border-width": "2px"
        });
    <% else %>
        $(".user_register_form_name_error").html("");
        $(".name").css({
            "border-width":"0px"
        });
    <% end %>

    <% if @error_email_invalid.present? || @error_email_taken.present? %>
        $(".email_invalid").remove();
        $(".email_taken").remove();
        <% if @error_email_invalid.present? %>
            $(".user_register_form_email_error").append('<p class="email_invalid"><%= @error_email_invalid %></p>');
        <% end %>
        <% if @error_email_taken.present? %>
            $(".user_register_form_email_error").append('<p class="email_taken"><%= @error_email_taken %><p>');
        <% end %>
        $(".email").css({
            "border-color": "red",
            "border-width": "2px"
        });
    <% else %>
        $(".user_register_form_email_error").html("");
        $(".email").css({
            "border-width":"0px"
        });
    <% end %>

    <% if @error_password_short_long.present? || @error_password_confirmaiton.present? %>
        $(".password_short_long").remove();
        $(".password_confirm").remove();
        <% if @error_password_short_long.present? %>
            $(".user_register_form_password_error").append('<p class="password_short_long"><%=  @error_password_short_long %></p>');
        <% end %>
        <% if @error_password_confirmaiton.present? %>
            $(".user_register_form_password_error").append('<p class="password_confirm"><%= @error_password_confirmaiton %><p>');
        <% end %>
        $(".password").css({
            "border-color": "red",
            "border-width": "2px"
        });
    <% else %>
        $(".user_register_form_password_error").html("");
        $(".password").css({
            "border-width":"0px"
        });
    <% end %>

    <% if @error_sex_blank.present? %>
        $(".sex_blank").remove();
        $(".user_register_form_sex_error").append('<p class="sex_blank"><%= @error_sex_blank %></p>');
    <% else %>
        $(".user_register_form_sex_error").html("");
    <% end %>
<% end %>




