<div class="container">
<h1>ようこそ<%= @user.name %>さん</h1>
<h1><%= @user.name %>さんのポイントは<%= @user.point %>ポイント</h1>

<%= link_to "クレジットカード登録へ", new_user_card_path %>
<h2>予約した美容師</h2>
<% @reservations.each do |reservation| %>
    <div>
        <% hairdresser = @hairdresser_model.find(reservation.menu.hairdresser_id) %>
        <%= hairdresser.name %>
    </div>
    <div>
        <%= reservation.menu.name %>
    </div>
    <div>
        <%= reservation.start_time.month %>月<%= reservation.start_time.day %>日<%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分
    </div>
    <% if reservation.start_time - Time.now > 60*60*24 %>
        <%= link_to "キャンセルする", users_reservation_cancel_path(reservation.menu_id, reservation.start_time), method: :post, data: { confirm: '本当にキャンセルしますか？' } %>
    <% elsif  reservation.start_time - Time.now <= 60*60*24 && reservation.start_time - Time.now >= 0%>
        <div class= "btn btn-danger cancel_fail">キャンセルする</div>
    <%end%>
<% end %>
</div>