<div class="container image_fo">
    <%= @current_hairdresser.name %>
    <h3>画像投稿</h3>
    
    <%= form_with(model: @style_image, class: "image_form width_100") do |f| %>
        <label class= "image_label width_100" >
            <!--画像アップロード用-->
            <%= f.file_field :hair_images, multiple: true, class: "hidden image_input"%>
            <h1 class="sentence"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></h1>
        </label>
    <% end %>
   
</div>



 <!--<% i = 0 %>
    <% @style_image.hair_images.each do |style_image| %>
            <%= image_tag style_image.to_s, size: "300x300", class: "output" %>
            <%= link_to "削除", style_image_path(id: @style_image.id, number: i), method: :delete %>
            <% i += 1 %>
    <% end %>
    <%= @style_image.hair_images.size %>-->