<div class="container image_fo" style="padding-top: 40px;">
    <h2 class="center" style="margin-top: -20px">ヘアスタイル画像登録</h2>
    <p class="center">クリックして画像を追加してください</p>
    <P class="center">(10枚まで画像を登録できます)</p> 
    <%= form_with(model: @style_image, class: "image_form ", local: true, style: "width: 100%") do |f| %>
        <span class="image_boxes">
            <%= render "style_images/style_image_save", hair_arry: @hair_arry %>
        </span>
        <label class= "image_label">
            <!--<%= f.file_field :hair_images, class: "hidden image_input", multiple: true, accept: "image/*"%>--> <!--これだと複数枚選べることになるし、multipleを外すとupdateできない 複数画像を一気に投稿できるようにしたかったがjsのfile readerの読み込みの順番が意図した通りに動かず、順番をすきなように決められないのでやめた-->
            <input class="hidden image_input" type="file" name="style_image[hair_images][]"  accept="image/*"> <!--acceptによって画像しか選択できなくなる-->
            <%= f.hidden_field :name, value: "aaa" %>
            <h1 class="sentence"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></h1>
        </label>
        <div class="image_form_save hidden"></div>
        <div class="change_save_btn">
            <%= f.submit "変更を保存する", class: "btn image_form_btn btn btn-success" %>
        </div>
    <% end %>
</div>




 