<tr>
    <!--前の週へのリンク-->
    <% if @thead_for_user %>
        <% if @standard_day != Date.today %>
            <th rowspan="2" class="border_right border_bottom2 width1">
                    <%= link_to "前の一週間", users_set_week_calendar_reservation_path(option: "last", day: @standard_day, menu_id: @menu.id), class: "last_week link_last_next color" %>
            </th>
        <% else %> <!--linkを無効-->
            <th rowspan="2" class="border_right border_bottom2 width1 add1">
                <%= link_to "前の一週間", users_set_week_calendar_reservation_path(option: "last", day: @standard_day, menu_id: @menu.id), style: "pointer-events: none; color: grey;" %>
            </th>
        <% end %>
    <% elsif @thead_for_hairdresser %>
        <% if @standard_day != Date.today %>
            <th rowspan="2" class="border_right border_bottom2 width1">
                <%= link_to "前の一週間", hairdressers_set_week_calendar_reservation_path(option: "last", day: @standard_day, menu_id: @menu.id), class: "last_week link_last_next color" %>
            </th>
        <% else %> <!--linkを無効-->
            <th rowspan="2" class="border_right border_bottom2 width1 add1">
                <%= link_to "前の一週間", hairdressers_set_week_calendar_reservation_path(option: "last", day: @standard_day, menu_id: @menu.id), style: "pointer-events: none; color: grey;" %>
            </th>
        <% end %>
    <% elsif @calendar_for_index %>
        <% if @standard_day != Date.today %>
            <th rowspan="2" class="border_right border_bottom2 width1">
                <%= link_to "前の一週間", hairdressers_calendar_index_path(option: "last", day: @standard_day), class: "last_week link_last_next color" %>
            </th>
        <% else %> <!--linkを無効-->
            <th rowspan="2" class="border_right border_bottom2 width1 add1">
                <%= link_to "前の一週間", hairdressers_calendar_index_path(option: "last", day: @standard_day), style: "pointer-events: none; color: grey;" %>
            </th>
        <% end %>
    <% end %>

    <!--年月-->
    <% if  @diff >= 13%> <!--月をまたぐかまたがないか-->
        <th colspan="14" class="border_righ border_botto width2 height2 "><%= @standard_day.year %>年<%= @standard_day.month %>月</th>
    <% else %>
        <% if @diff + 1 >= 4 %>
            <th width="43" height="45" colspan="<%= @diff + 1 %>" class="border_right border_botto height2 "><%= @standard_day.year %>年<%= @standard_day.month %>月</th>
        <% else %>
            <th width="43" height="45" colspan="<%= @diff + 1 %>" class="border_right border_botto height2 "></th>
        <% end %>
        <% if 13 - @diff >= 4 %>
            <th width="43" height="45" colspan="<%= 13 - @diff  %>" class="border_righ border_botto height2 "><%= @standard_day.next_month.year %>年<%= @standard_day.next_month.month %>月</th>
        <% else %>
            <th width="43" height="45" colspan="<%= 13 - @diff  %>" class="border_righ border_botto height2 "></th>
        <% end %>
    <% end %>

    <!--次の週へのリンク-->
    <% if @thead_for_user %>
        <th rowspan="2" class="attr87 width1 add1 border_bottom2 border_left">
            <%= link_to "次の一週間", users_set_week_calendar_reservation_path(option: "next", day: @standard_day, menu_id: @menu.id), class: "next_week link_last_next color" %>
        </th>
    <% elsif @thead_for_hairdresser %>
        <th rowspan="2" class="attr87 width1 add1 border_bottom2 border_left">
            <%= link_to "次の一週間", hairdressers_set_week_calendar_reservation_path(option: "next", day: @standard_day, menu_id: @menu.id), class: "next_week link_last_next color" %>
        </th>
    <% elsif @calendar_for_index %>
        <th rowspan="2" class="attr87 width1 add1 border_bottom2 border_left">
            <%= link_to "次の一週間", hairdressers_calendar_index_path(option: "next", day: @standard_day), class: "next_week link_last_next color" %>
        </th>
    <% end %>
</tr>

<tr class="date_top"><!--theadの真ん中の 日付 曜日-->
    <% for i in 0..13 do %>
        <% @day = @standard_day + i %>
        <% if HolidayJp.holiday?(@day).present? %> <!--休日かどうか-->
            <th class="border_left border_bottom2 border_top width3 holiday_back2">
                <div class="holiday2"><%= (@standard_day + i).day %></div>
                <div class="holiday2">(祝)</div>
            </th>
        <% elsif @day.wday == 6 %> <!--土曜日かどうか-->
            <th class="border_left border_bottom2 border_top width3 holiday_back1">
                <div class="holiday1"><%= (@standard_day + i).day %></div>
                <div class="holiday1">(<%= %w(日 月 火 水 木 金 土)[(@standard_day+i).wday] %>)</div>
            </th>
        <% elsif @day.wday == 0 %> <!--日曜日かどうか-->
            <th class="border_left border_bottom2 border_top width3 holiday_back2">
                <div class="holiday2"><%= (@standard_day + i).day %></div>
                <div class="holiday2">(<%= %w(日 月 火 水 木 金 土)[(@standard_day+i).wday] %>)</div>
            </th>
        <% else %> <!--平日-->
            <th class="border_left border_bottom2 border_top width3">
                <%= (@standard_day + i).day %>
                <div>
                    (<%= %w(日 月 火 水 木 金 土)[(@standard_day+i).wday] %>)
                </div>
            </th>
        <% end %>
    <% end %>
</tr>
      