<div class="container">
    <div class="title_chokichoki_1">
        <h1 style="font-size: 70px;">chokichokiとは?</h1>
    </div>
    <div class="chokichoki_explain col-xs-7">
        <p style="font-size: 20px;">
            安価で美容院に行きたい人と、マネキンではなく実際にお客様の髪で施術をしたい美容師アシスタント、双方の希望を叶えるwebアプリケーションです。
            美容院に行くとなると料金が高く身構える人が多いですが、このアプリでは気軽に予約をとることができます。美容師アシスタントの方は自分でメニューを考え作成してスタイリストのように施術することができます。
            一般の方は一回の施術に500円、美容師の方は完全無料で使えます。
        </p>
    </div>
    <div class="col-xs-5">
        <img src="<%= asset_path "br.jpg" %>" class="explain_img">
    </div>
</div>

<div class="how_to_chokichoki container">
    <div class="title_chokichoki_2">
        <p style="font-size: 50px; color: black;">予約の仕方</p>
    </div>
    <div class="step_explain">
        <div class="step">
            <p>step1</p>
            <img src="<%= asset_path "br.jpg" %>" class="step_img">
            
                <p>新規登録またはログインより必要な情報を入力し、ログインします。</p>
           
        </div>
        <div class="step">
            <p>step2</p>
            <img src="<%= asset_path "br.jpg" %>" class="step_img">
            
                <p>美容師一覧より美容師の写真をクリックし、詳細画面より指名します。</p>
            
        </div>
        <div class="step">
            <p>step3</p>
            <img src="<%= asset_path "br.jpg" %>" class="step_img">
            
                <p>メニューを選択します。</p>
            
        </div>
        <div class="step">
            <p>step4</p>
            <img src="<%= asset_path "br.jpg" %>" class="step_img">
            
                <p>施術日時を選択します。</p>
           
        </div>
        <div class="step">
            <p>step5</p>
            <img src="<%= asset_path "br.jpg" %>" class="step_img">
            
                <p>支払い方法をクレジットカード払い、ポイント払いより選択します。</p>
            
        </div>
        <div class="step">
            <p>step6</p>
            <img src="<%= asset_path "br.jpg" %>" class="step_img">
          
                <p>お疲れ様です。予約完了です。(予約日時が24時間以内の場合はキャンセルできません)。</p>
            
        </div>
    </div>
</div>
<div class="container">
</div>

