<div class="container">
    <div class="title_chokichoki_1">
        <h1 class="res_font">chokichokiとは?</h1>
    </div>
    <div class="chokichoki_explain col-xs-7">
        <p style="font-size: 20px;">
            安価で美容院に行きたい人と、マネキンではなく実際にお客様の髪で施術をしたい美容師アシスタント、双方の希望を叶えるwebアプリケーションです。
            美容院に行くとなると料金が高く身構える人が多いですが、このアプリでは気軽に予約をとることができます。美容師アシスタントの方は自分でメニューを考え作成してスタイリストのように施術することができます。
            一般の方は一回の施術に500円、美容師の方は完全無料で使えます。
            <p style="font-size: 20px; color: red;">
                注意: 今現在はβ版のためこのサイトでの予約は架空の予約となります。美容師登録をするとき美容師免許証が求められますが、何か適当な画像で結構です。予約をするときクレジットカードの番号を求められることがありますが番号はテストコード(4242424242424242)しか使えないため、実際に料金が発生することはありません。
                データを削除したい場合やご意見要望がある方はchokichoki20200401@gmail.comまでご連絡ください。
            </p>
        </p>
    </div>
    <div class="col-xs-5">
        <img src="<%= asset_path "br.jpg" %>" class="explain_img">
    </div>
</div>

<div class="how_to_chokichoki container">
    <div class="title_chokichoki_2">
        <p class="res_font2">予約の仕方</p>
    </div>
    <div class="step_explain">
        <div class="flow_step2">
            <div class="res_point">STEP<strong style="font-size: 20px; margin-left: 3px;">1</strong></div>
            <img src="<%= asset_path "huma.png" %>" class="visit_img">
            <p style="margin-top: 10px; color: white;">新規登録またはログインより必要な情報を入力してログイン</p>
        </div>
        <img src="<%= asset_path "next2.png" %>" class="next_img2">
        <div class="flow_step2">
            <div class="res_point">STEP<strong style="font-size: 20px; margin-left: 3px;">2</strong></div>
            <img src="<%= asset_path "hairdresser_and_menu.png" %>" class="visit_img">
            <p style="margin-top: 10px; color: white">美容師一覧より美容師を選択してメニューを決める</p>
        </div>
        <img src="<%= asset_path "next2.png" %>" class="next_img2">
        <div class="flow_step2">
            <div class="res_point">STEP<strong style="font-size: 20px; margin-left: 3px;">3</strong></div>
            <img src="<%= asset_path "calendar.png" %>" class="visit_img">
            <p style="margin-top: 10px; color: white">来店日時を選択し料金を払って予約完了</p>
        </div>
        <img src="<%= asset_path "next2.png" %>" class="next_img2">
        <div class="flow_step2">
            <div class="res_point">STEP<strong style="font-size: 20px; margin-left: 3px;">４</strong></div>
            <img src="<%= asset_path "message.png" %>" class="visit_img">
            <p style="margin-top: 10px; color: white">チャット機能でカウンセリング なりたい髪型について担当美容師と相談しましょう</p>
        </div>
        <img src="<%= asset_path "next2.png" %>" class="next_img2">
        <div class="flow_step2">
            <div class="res_point">STEP<strong style="font-size: 20px; margin-left: 3px;">５</strong></div>
            <img src="<%= asset_path "hasami.png" %>" class="visit_img">
            <p style="margin-top: 10px; color: white;">お客様が来店し、施術開始</p>
        </div>
    </div>
</div>

<!-- FAQ -->
<div id="FAQ" class="faq">
    <h1 style="margin-bottom: 30px;">FAQ</h1>

    <h3 class="question"><span style="border-bottom: solid 5px #e6ecf0;">このサイトについて</span></h3>
    <div class="left_static">
        <p class="answers">
            chokichokiは美容師アシスタントがカットモデルを募集できるアプリです。(今現在はβ版です。)登録は会員側と美容師側でメールアドレスとパスワードで登録できます。
            美容師登録をするとき美容師免許証が求められますが、何か適当な画像で結構です。データを削除したい場合やご意見要望がある方はchokichoki20200401@gmail.comまでご連絡ください。
        </p>
    </div>

    <h3 class="question"><span style="border-bottom: solid 5px #e6ecf0;">本当に500円でカットしてもらえるのですか？</span></h3>
    <div class="left_static">
        <p class="answers">
            はい、すべてのメニューが500円となっています。ただし、施術をするのはスタイリストではなくアシスタントです。
        </p>
    </div>
        
    <h3 class="question"><span style="border-bottom: solid 5px #e6ecf0;">支払い方法は何がありますか？</span></h3>
    <div class="left_static">
        <p class="answers">
            クレジットカード支払い、ポイント支払いがございます。また、クレジットカードをこのサイトに登録することができ、毎回番号を入力する手間を省ぶことができます。
        </p>
    </div>

    <h3 class="question"><span style="border-bottom: solid 5px #e6ecf0;">ポイントとはなんですか？</span></h3>
    <div class="left_static">
        <p class="answers">
            ポイントは1ポイント1円と換算され、現金(クレジットカード)の代わりに支払うことができます。現金(クレジットカード)との併用はできません。口コミを書くことで200ポイントもらえます。
        </p>
    </div>

    <h3 class="question"><span style="border-bottom: solid 5px #e6ecf0;">支払いは先払いですか?</span></h3>
    <div class="left_static">
        <p class="answers">
            はい、先払いとなっております。キャンセル時にはお金をポイントとして全額返金いたします。
        </p>
    </div>

</div>

    
<div style="padding-bottom: 100px;">
    <h1 class="center res_font2" style="margin-bottom: 30px;">chokichokiをはじめよう！</h1>
    <div class="center">
        <span class="hairdresser_register cursor2 btn btn-primary" id="new_user2">
            新規登録
        </span>
        <span class="hairdresser_register cursor2 btn btn-success" id="login_user2">
            ログイン
        </span>
    </div>
</div>


