<div class="container">
    
    

</div>

<div id="user_login_modal">
        <div class="login_page">
            <div id="user_close_modal">
                <span class="glyphicon glyphicon-remove cursor" aria-hidden="true"></span>
            </div>
            <h2 class="aaa">会員ログイン</h2>
            <div>
                <%= form_with(url: user_login_path, method: :post) do |f| %>
                    <p>メールアドレス</p>
                    <%= f.text_field :email %>
                    <p>パスワード</p>
                    <%= f.password_field :password %>
                    <%= f.submit "ログイン" %>
                <% end %>
            </div>
        </div>
</div>

<div id="hairdresser_login_modal">
        <div class="login_page">
            <div id="hairdresser_close_modal">
                <span class="glyphicon glyphicon-remove cursor" aria-hidden="true"></span>
            </div>
            <h2 class="bbb">美容師ログイン</h2>
            <div>
                <%= form_with(url: hairdresser_login_path, method: :post) do |f| %>
                    <p>メールアドレス</p>
                     <%= f.text_field :email %>
                    <p>パスワード</p>
                    <%= f.password_field :password %>
                    <%= f.submit "ログイン" %>
                <% end %>
            </div>
        </div>
</div>