<div id="user_main">
        <div class="stand_out">
            <p class="publicity">自分にあった美容師が必ずみつかる!!</p>
            <div class="search_form_square">
                <h3 style="padding-left: 25px;">条件から美容師を探す</h3>
                <div class="center">
                    <div class="find center">
                        <%= link_to search_index_path(turn: 1) do %>
                            <div class="find_tag"><img src="<%= asset_path "menu_icon.png" %>" class="find_icon"><p class="find_content">メニューから探す</p></div>
                        <% end %>
                        <%= link_to search_index_path(turn: 3) do %>
                            <div class="find_tag"><img src="<%= asset_path "map.png" %>" class="find_icon"><p class="find_content">エリアから探す</p></div>
                        <% end %>
                    </div>
                    <div class="find center">
                        <%= link_to search_index_path(turn: 2) do %>
                            <div class="find_tag"><img src="<%= asset_path "clock_icon.png" %>" class="find_icon"><p class="find_content">日付から探す</p></div>
                        <% end %>
                        <%= link_to search_index_path(turn: 4) do %>
                            <div class="find_tag"><img src="<%= asset_path "current.png" %>" class="find_icon"><p class="find_content">現在地から探す</p></div>
                        <% end %>
                    </div>
                    <div>
                        <%= form_with(url: search_data_path, method: :post, local: true, class: "welcome") do |f| %>
                            <%= f.text_field :search_keyword, placeholder: "美容師名、メニュー名など", class: "form-control search_top2" %>
                            <button type="submit" class="btn btn-primary search_icon_btn2"> 
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button> 
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="circles">
            <div class="circle_top">
                <p class="propaganda_user">簡単予約!!</p>
            </div>
            <div class="circle_top">
                <p class="propaganda_user">一回500円!!</p>
            </div>
            <div class="circle_top">
                <p class="propaganda_user">コスパ高!!</p>
            </div>
        </div>
</div>
<div class="botttom_search">
    <%= link_to today_hairdresser_and_menu_path, method: :post do %>
        <div class="today">
            <h2>今日予約する</h2>
        </div>
    <% end %>
    <%= link_to tomorrow_hairdresser_and_menu_path, method: :post do %>
        <div class="tomorrow">
            <h2>明日予約する</h2>
        </div>
    <% end %>
</div>

<div>
    <!-- 人気美容師スライダー bootstrapだけ jsなし -->
    <% if @hairdressers.present? %>
        <div id="top_hairdresser_slider" class="container center" style="margin-top: 80px;">
            <div class="carousel slide" data-ride="carousel" data-interval="6000">
                <h2 class="" style="margin-top: 100px; font-family: serif;">人気美容師</h2>
                <div class="carousel-inner " style="height: 500px;">
                    <% i = 1 %>
                    <% @hairdressers.each do |hairdresser| %>
                        <% if i == 1 %>
                            <div class="item active">
                                <div style="text-align: center;">
                                    <%= link_to users_hairdresser_path(hairdresser.id), remote: true do %>
                                        <%= attachment_image_tag hairdresser, :hairdresser_image, size: "250x250", fallback: "no_image.png", class: "img-circle" %>
                                    <% end %>
                                </div>
                                <h3><%= hairdresser.name %></h3>
                                <div style="margin-top: 20px;">
                                    <%= hairdresser.introduction %>
                                </div>
                            </div>
                        <% else %>
                            <div class="item">
                                <div style="text-align: center;">
                                    <%= link_to users_hairdresser_path(hairdresser.id), remote: true do %>
                                        <%= attachment_image_tag hairdresser, :hairdresser_image, size: "250x250", fallback: "no_image.png", class: "img-circle" %>
                                    <% end %>
                                </div>
                                <h3><%= hairdresser.name %></h3>
                                <div style="margin-top: 20px;">
                                    <%= hairdresser.introduction %>
                                </div>
                            </div>
                        <% end %>
                        <% i += 1 %>
                    <% end %>
                </div>
                <a class="left carousel-control" href=".carousel" data-slide="prev" style="height: 0px; width: 0px;">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href=".carousel" data-slide="next" style="height: 0px; width: 0px;">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    <% else %>
        <h2 class="center" style="margin-top: 100px;">人気美容師</h2>
        <p class="center">ただいま準備中です。</p>
    <% end %>
</div>

<div class="container">
    <h2 class="center" style="margin-top: 80px;">カットが評判の美容師</h1>
    <div class="top">
        <% if @hairdresser_cut_id_arry != nil %>
            <%= render "home/reputation", hairdresser_id_arry: @hairdresser_cut_id_arry, menus: @cut_menus %>
        <% else %>
            <p>ただいま準備中です。</p>
        <% end %>
    </div>
</div>

<div class="container">
    <h2 class="center" style="margin-top: 80px;">カラーが評判の美容師</h2>
    <div class="top">
        <% if @hairdresser_color_id_arry != nil %>
            <%= render "home/reputation", hairdresser_id_arry: @hairdresser_color_id_arry, menus: @color_menus %>
        <% else %>
            <p>ただいま準備中です。</p>
        <% end %>
    </div>
</div>

<div class="container">
    <h2 class="center" style="margin-top: 80px;">縮毛矯正が評判の美容師</h1>
    <div class="top">
        <% if @hairdresser_curly_id_arry != nil %>
            <%= render "home/reputation", hairdresser_id_arry: @hairdresser_curly_id_arry, menus: @curly_menus %>
        <% else %>
            <p>ただいま準備中です。</p>
        <% end %>
    </div>
</div>

<div class="container" style="margin-bottom: 100px;">
    <h2 class="center" style="margin-top: 80px;">パーマが評判の美容師</h1>
    <div class="top">
        <% if @hairdresser_parma_id_arry != nil %>
            <%= render "home/reputation", hairdresser_id_arry: @hairdresser_parma_id_arry, menus: @parma_menus %>
        <% else %>
            <p>ただいま準備中です。</p>
        <% end %>
    </div>
</div>

<!-- 美容師のshowモーダルを表示するための記述 -->
<div id="hairdresser_show" class=""></div>









