<div class="container"> 
    <h2 class="center" style="margin-bottom: 50px;">まだ予約は完了しておりません。[予約を確定する]ボタンを押してください。</h2>
    <%= render "menus/menu2" %>
    <%= form_with(url: users_various_update_path(reservation_id: @reservation.id), method: :patch, class: "display_block reservation_form center") do |f| %>
        <h3 style="margin-top: 65px;">美容師への要望</h3>
        <%= f.text_area :user_request, class: "request form-control", style: "width: 400px; height: 200px;"%>
        <h3 class="plan">支払い方法</h3>
        <span class="point_check cursor">
            <span class="category_name">ポイントで払う</span>
            <%= f.check_box :point, {class: "checkbox cursor"}, 1, 0 %>
        </span>
        <span class="card_check cursor">
            <span class="category_name">クレジットカードで払う</span>
            <%= f.check_box :card, {class: "checkbox cursor"}, 1, 0 %>
        </span>
        <span class="registered_card_check cursor">
            <span class="category_name">登録済みのクレジットカードで払う</span>
            <%= f.check_box :registered_card, {class: "checkbox cursor"}, 1, 0 %>
        </span>
        <div>
            <h3 class="error"></h3>
            <%= f.submit "予約を確定する", class: "reservation_btn btn btn-success" %>
        </div>
    <%end%>
</div>

<!--クレジットカード情報入力モーダル-->
<div class="card_modal">
    <div class="card_form">
        <div>
            <span class="glyphicon glyphicon-remove cursor form_close_modal card_form_close_modal" aria-hidden="true"></span>
        </div>
        <%= form_with(url: users_card_resevation_pay_path(reservation_id: @reservation.id ), method: :post, local: true, id: 'charge-form', class: "card_form_pay") do |f| %>
           <%= f.label "カード番号" %>
           <%= f.text_field "card_number", class: "number form-control ca_form", value: 4242424242424242  ,maxlength: "16", type: "text", id: "card_number"%>
            <br>
            <%= f.label "有効期限", class: "limit" %>
            <%= f.select 'exp_month', options_for_select({"--": "", "01": 1, "02": 2, "03": 3, "04": 4, "05": 5, "06": 6, "07": 7, "08": 8, "09": 9, "10": 10, "11": 11, "12": 12}, "")%>
            <span>月/</span>
            <%= f.select 'exp_year', options_for_select({"--": "", "19": 2019, "20": 2020, "21": 2021, "22": 2022, "23": 2023, "24": 2024, "25": 2025, "26": 2026, "27": 2027, "28": 2028, "29": 2029}, "")%>
            <span>年</span>
            <br>
            <%= f.label "セキュリティコード", class: "security"%>
            <%= f.text_field "cvc", class: "cvc form-control ca_form", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc" %>
            <div>
            <%= f.submit "支払う", id: "token_submit", class: "btn btn-success" %>
        <%end%>
    </div>
</div>