<%= month_calendar events: @reservations do |date, reservations| %>
    <%= date.day %>
    <% if Date.today <= date %>
        <% if reservations.blank?%>
            <p>予約できません</p>
        <% end %>
        <% reservations.each do |reservation| %>
            <% @time_min = reservation.start_time %>
            <% @time_max = reservation.start_time  + reservation.menu.time*60 - 1 %>
            <% @reservations_after = Reservation.where(start_time: @time_min..@time_max, status: 1) %>
            <% if @reservations_after.blank? %>
            <div>
                <span><%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分</span>
                <span><%= link_to "予約する", edit_users_reservation_path(reservation.id), class: "user_reservation", id: reservation.id%>
            </div>
            <% else %>
                <p>予約できません</p>
            <% end %>
        <% end %>
    <% end %>
<% end %>
