<div class="container">

    <h3 class="please_reservation">ご希望の来店日時を選択してください<%= link_to "月間カレンダーへ", users_set_month_calendar_reservation_path(menu_id: @menu.id), class: "to_month_calendar" %></h3>

    <!--menuカード-->
    <%= render "menus/menu2" %>

    <!--記号の説明-->
    <div class="explain_simbol">
        <span style="color: red;" class="simbol">◎</span>予約可能
        <span style="color: blue;" class="simbol">△</span>キャンセル待ち
        <span class="glyphicon glyphicon-remove simbol" aria-hidden="true"></span>予約不可
    </div>

    <!--ここから週間カレンダー-->
    <table class="week_reservation_table">
        <thead class="table_header" id="table_head">
            <%= render "home/thead" %>
        </thead>
        <tbody id="table_body">
            <tr>
                <!--左の時刻表-->
                <th class="border_right table_time">
                    <table>
                        <tbody class="times">
                            <% @clock_arry.each do |clock| %>
                                <tr>
                                    <th class="width4"><%= clock %></th>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </th>

                <!--バツマル-->
                <% for i in 0..(@date_arry.length - 1) do %>
                    <th class="border_right">
                        <!--このテーブルは縦一列-->
                        <table>
                            <tbody class="simbols">
                                <% @time_arry.each do |time| %>
                                    <% if @date_arry[i] == time.to_date %>
                                        <tr>
                                            <td class="border_bottom width3 td_color">
                                                <% if Reservation.find_by(start_time: time, menu_id: @menu.id).present? %>
                                                    <% @reservation = Reservation.find_by(start_time: time, menu_id: @menu.id) %>
                                                    <% @time_min = @reservation.start_time %>
                                                    <% @time_max = @reservation.start_time  + @reservation.menu.time*60 - 1 %>
                                                    <% @reservation_after = @menu.hairdresser.reservations.where(start_time: @time_min..@time_max, status: 1) %>
                                                    <% if @reservation_after.blank? %>
                                                        <%= link_to edit_users_reservation_path(@reservation.id), class:"user_reservation", id: @reservation.id do %>
                                                            <p style="color: red;" class="simbol_round">◎</p>
                                                        <% end %>
                                                    <% else %>
                                                        <p style="color: blue;" class="simbol_triangle">△</p>
                                                    <% end %>
                                                <% else %>
                                                    <p class="glyphicon glyphicon-remove simbol_remove" aria-hidden="true"></p>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                        </table>
                    </th>
                <% end %>
                
                <!--右の時刻表-->
                <th class="table_time">
                    <table>
                        <tbody class="times">
                            <% @clock_arry.each do |clock| %>
                                <tr>
                                    <th class="width4"><%= clock %></th>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </th>
                
            </tr>
        </tbody>
    </table>
    
</div>
