<% if @chat_message.save %>
    <% if @chat_message.image_id.present? && @chat_message.style_images.present? %> //自分パソコンの画像と美容師のヘアカタログの写真を一度に選択して送信したとき
        var html = 
                    `
                        <% if @chat_messages.length == 1 || @date.present? %> //一番最初にメッセージを送信した時と 送信した時に前のメッセージと日付が異なっていたら 日付を表示
                            <% @date = @chat_message.created_at.to_date %>
                            <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                        <% end %>
                        <div class="myself not_read">
                            <div class="chat_time"><p><%= @chat_message.created_at.to_time.hour %>:<%= @chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                            <div class="myself_chat">
                                <% @chat_message.style_images.each do |image| %>
                                    <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                <% end %>
                                <%= attachment_image_tag @chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;"%>
                                <%= simple_format(@chat_message.message) %>
                            </div>
                        </div>
                    `
    <% elsif @chat_message.image_id.present? %> //自分のパソコンの画像を選択して送信したとき
        var html = 
                    `
                        <% if @chat_messages.length == 1 || @date.present? %> //一番最初にメッセージを送信した時と 送信した時に前のメッセージと日付が異なっていたら 日付を表示
                            <% @date = @chat_message.created_at.to_date %>
                            <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                        <% end %>
                        <div class="myself not_read">
                            <div class="chat_time"><p><%= @chat_message.created_at.to_time.hour %>:<%= @chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                            <div class="myself_chat">
                                <%= attachment_image_tag @chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                <%= simple_format(@chat_message.message) %> 
                            </div>
                        </div>
                    `
    <% elsif @chat_message.style_images.present? %> //美容師のヘアカタログの写真を選択したとき
        var html = 
                    `
                        <% if @chat_messages.length == 1 || @date.present? %> //一番最初にメッセージを送信した時と 送信した時に前のメッセージと日付が異なっていたら 日付を表示
                            <% @date = @chat_message.created_at.to_date %>
                                <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                        <% end %>
                        <div class="myself not_read">
                            <div class="chat_time"><p><%= @chat_message.created_at.to_time.hour %>:<%= @chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                            <div class="myself_chat">
                                <% @chat_message.style_images.each do |image| %>
                                    <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                <% end %>
                                <%= simple_format(@chat_message.message) %>
                            </div>
                        </div>
                    `
    <% elsif @chat_message.message != "" %> //メッセージだけを送信したとき
        var html = 
                    `
                        <% if @chat_messages.length == 1 || @date.present? %> //一番最初にメッセージを送信した時と 送信した時に前のメッセージと日付が異なっていたら 日付を表示
                            <% @date = @chat_message.created_at.to_date %>
                            <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                        <% end %>
                        <div class="myself not_read">
                            <div class="chat_time"><p><%= @chat_message.created_at.to_time.hour %>:<%= @chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                            <div class="myself_chat">
                                <%= simple_format(@chat_message.message) %>
                            </div>
                        </div>
                    `
    <% end %>
    //htmlを挿入
    $(`#room-<%= @room.room_token %>`).append(html);

    //フォームを初期化
    $('.chat_style_img').each(function(){
        $(this).remove();
    });
    $('.circle2').each(function(){
        $(this).css({
            "background-color": "white"
        })
        $(this).removeClass("click");
    });

    //フォームを初期化
    $(".chat_img_save").empty();
    $('#chat_prev_img').addClass("display_none");
    $(".delete_chat_img").addClass("display_none");
    $("#chat_message_message").val("");

    //チャットの一番下にスクロール
    $(`#room-<%= @room.room_token %>`).scrollTop($(`#room-<%= @room.room_token %>`)[0].scrollHeight);

    //ルームを最後のメッセージを変更
    <% if 1 <= @chat_message.message.length && @chat_message.message.length <= 32 %>
        <% @last_message = @chat_message.message %>
    <% elsif 33 <= @chat_message.message.length %>
        <% @last_message = @chat_message.message[0..32] + "..." %>
    <% else %>
        <% @last_message = "画像を送信しました" %>
    <% end %>
    $(`#chat_room_<%=@room.room_token%>`).find(".chat_last_message").text(`<%=@last_message%>`);

    //ルームの時間を変更
    $(`#chat_room_<%=@room.room_token%>`).find(".chat_room_time").text(`<%=@time%>`);

    //ルームの並び順を変更
    $("#search_form").after($(`#chat_<%=@room.room_token%>`));  
<% end %>
