$("#chat_name").remove(); //元のチャット画面をなくす
$("#room-<%=@room.room_token%>").remove(); //元のチャット画面をなくす
var html = 
            `
                <div id="chat_name">
                    <p style="font-size:15px; text-align: center;">施術日：<%=@time.month%>月<%=@time.day%>日(<%= %w(日 月 火 水 木 金 土)[(@time).wday] %>)<%=@time.hour%>時<%=@time.min%>分</p>
                    <p style="font-size:15px; text-align: center;">メニュー：<%=@reservation.menu.name%></p>
                    <% if @current_user.present? %>
                        <p style="position: relative; top: -40px; left: 10px; font-size: 20px;"><%= @hairdresser.name %></p>
                    <% elsif @current_hairdresser.present? %>
                        <p style="position: relative; top: -40px; left: 10px; font-size: 20px;"><%= @user.name %></p>
                    <% end %>
                </div> 
                
                <!--チャットルーム-->
                <div id="room-<%=@room.room_token%>" class="room" href="<%=@room.id%>" style="height: 590px; overflow: auto;">
                    <% i = 0 %>
                    <% @chat_messages.each do |chat_message| %>
                        <% if i == 0 || @chat_messages[i-1].created_at.to_date != @chat_messages[i].created_at.to_date %> <!--メッセージの送信した日付が変わる時は日付を表示する-->
                            <% @date = @chat_messages[i].created_at.to_date %>
                            <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                        <% end %>
                        <% if @current_user.present? %> <!--自分がお客のとき-->
                            <!--相手のメッセージ(美容師)-->
                            <% if chat_message.hairdresser_id.present? %>
                                <div class="opponent">
                                    <div class="opponent_img">
                                        <%= attachment_image_tag @hairdresser, :hairdresser_image, size: "40x40", fallback: "no_image.png", class: "img-circle" %>
                                    </div>
                                    <div class="opponent_chat">
                                        <% if chat_message.style_images.present? %>
                                            <% chat_message.style_images.each do |image| %>
                                                <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                            <% end %>
                                        <% end %>
                                        <% if chat_message.image_id.present? %>
                                            <%= attachment_image_tag chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                        <% end %>
                                        <%= simple_format(chat_message.message) %>
                                    </div>
                                    <!--メッセージ送信時刻-->
                                    <div class="chat_time"><p><%= chat_message.created_at.to_time.hour %>:<%= chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                                </div>
                            <!--自分のメッセージ-->
                            <% elsif chat_message.user_id.present? %>
                                <div class="myself">
                                    <% if chat_message.notification == true %>
                                        <div class="notice"><p>既読</p></div>
                                    <% end %>
                                     <!--メッセージ送信時刻-->
                                    <div class="chat_time"><p><%= chat_message.created_at.to_time.hour %>:<%= chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                                    <div class="myself_chat">
                                        <% if chat_message.style_images.present? %>
                                            <% chat_message.style_images.each do |image| %>
                                                <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                            <% end %>
                                        <% end %>
                                        <% if chat_message.image_id.present? %>
                                            <%= attachment_image_tag chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                        <% end %>
                                        <%= simple_format(chat_message.message) %>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @current_hairdresser.present? %> <!--自分が美容師のとき--->
                            <!--相手のメッセージ-->
                            <% if chat_message.user_id.present? %>
                                <div class="opponent">
                                    <div class="opponent_img">
                                        <% if @user.sex == "男性" %>
                                            <img src="<%= asset_path "man.png" %>" style="width: 40px; height: 40px;">
                                        <% else %>
                                            <img src="<%= asset_path "female100.png" %>" style="width: 40px; height: 40px;">
                                        <% end %>
                                    </div>
                                    <div class="opponent_chat">
                                        <% if chat_message.style_images.present? %>
                                            <% chat_message.style_images.each do |image| %>
                                                <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                            <% end %>
                                        <% end %>
                                        <% if chat_message.image_id.present? %>
                                            <%= attachment_image_tag chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                        <% end %>
                                        <%= simple_format(chat_message.message) %>
                                    </div>
                                    <!--メッセージ送信時刻-->
                                    <div class="chat_time"><p><%= chat_message.created_at.to_time.hour %>:<%= chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                                </div>
                            <!--自分のメッセージ-->
                            <% elsif chat_message.hairdresser_id.present?  %>
                                <div class="myself">
                                    <% if chat_message.notification == true %>
                                        <div class="notice"><p>既読</p></div>
                                    <% end %>
                                    <!--メッセージ送信時刻-->
                                    <div class="chat_time"><p><%= chat_message.created_at.to_time.hour %>:<%= chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                                    <div class="myself_chat">
                                        <% if chat_message.style_images.present? %>
                                            <% chat_message.style_images.each do |image| %>
                                                <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                            <% end %>
                                        <% end %>
                                        <% if chat_message.image_id.present? %>
                                            <%= attachment_image_tag chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                        <% end %>
                                        <%= simple_format(chat_message.message) %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    <% i += 1 %>
                    <% end %>
                </div>

                <!--メッセージ送信フォーム-->
                <div id="message_form">
                    <%= form_with(model: @chat_message, url: message_create_path, method: :post, id: "message_form_area") do |f| %>
                        <div class="image_form_chat">
                            <img src="<%= asset_path "style_images.png" %>" id="chat_style_images">
                            <label class="chat_img_label cursor2">
                                <%= f.attachment_field :image, id: "chat_img", class: "hidden" %>
                                <img src="<%= asset_path "film.png" %>" id="" >
                            </label>  
                            <img id="chat_prev_img" style="width: 32px; height: 32px; margin-left: 10px;" class="display_none">
                            <div class="chat_img_save display_none"></div>
                            <span class="delete_chat_img display_none cursor2" style="font-size: 15px;">削除</span>
                        </div>
                        <%= f.submit "送信", class: "btn btn-success message_btn" %>
                        <%= f.text_area :message, placeholder: "メッセージを入力してください", class: "form-control chat_form" %>
                    <% end %>
                </div>
            `
$('#messages').html(html);

//viewを調整
$(".chat_rooms").css({ //すべてのチャットルームの色を元に戻す
    "background-color": "#FFFFF0"
})
$("#chat_room_<%=@room.room_token%>").css({ //今いるチャットルームに色をつける
    "background-color": "#FFE4B5"
})

//hairdresserのスタイルの画像を用意
html2 = `   
            <span class="glyphicon glyphicon-remove cursor dark_remove"></span>
            <h2 class="center" style="color: white;"><%=@hairdresser.name%>のヘアカタログ</h2>
            <div class="container">
                <% i = 0 %>
                <% @style_image.hair_images.each do |hair_image| %>
                    <div class="chat_hair_box box_number<%= i %> arry<%= i%>" href="<%= i%>">
                        <div class="circle2 cursor2"></div>
                        <%= image_tag hair_image.url, class: "output" %>
                    </div>
                    <% i+=1 %>
                <% end %>
            </div>
        `
$(".dark_chat").html(html2);

//メッセージの一番下にスクロール
$(`#room-<%=@room.room_token%>`).scrollTop($(`#room-<%=@room.room_token%>`)[0].scrollHeight);

//未読の数を表す要素を消す
$(".unread_number_<%=@room.room_token%>").css({
    "display": "none"
})

//未読のメッセージにクラスをつける
$(".myself").each(function(){
    if (!$(this).children("div").hasClass("notice")) {
        $(this).addClass("not_read");
    }
});

<% if @current_user.present? %> //チャットルームにいるという証拠を残す 既読機能のとき使う
    $("#room-<%=@room.room_token%>").addClass("<%=@current_user.activation_digest%>");
    $("#room-<%=@room.room_token%>").addClass("user");
<% end %>
<% if @current_hairdresser.present? %>
    $("#room-<%=@room.room_token%>").addClass("<%=@current_hairdresser.activation_digest%>");
    $("#room-<%=@room.room_token%>").addClass("hairdresser");
<% end %>

