$("#chat_name").remove();
$("#room-<%=@room_id%>").remove();
var html = 
            `
                <div id="chat_name">
                    <% if @current_user.present? %>
                        <p><%= @hairdresser.name %></p>
                    <% else %>
                        <p><%= @user.name %></p>
                    <% end %>
                </div> 
                <% if @current_user.present? %>
                    <div id="room-<%=@room_id%>" class="user-<%=@current_user.id%>" style="height: 590px; overflow: auto;">
                        <% i = 0 %>
                        <% @chat_messages.each do |chat_message| %>
                            <% if i == 0 %>
                                <% @date = @chat_messages[i].created_at.to_date %>
                                <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                            <% elsif @chat_messages[i-1].created_at.to_date != @chat_messages[i].created_at.to_date %>
                                <% @date = @chat_messages[i].created_at.to_date %>
                                <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                            <% end %>

                            <!--相手のメッセージ-->
                            <% if chat_message.hairdresser_id.present? %>
                                <div class="opponent">
                                    <div class="opponent_img">
                                        <%= attachment_image_tag @hairdresser, :hairdresser_image, size: "40x40", fallback: "no_image.png", class: "img-circle" %>
                                    </div>
                                    <div class="opponent_chat">
                                        <% if chat_message.style_images.present? %>
                                            <% chat_message.style_images.each do |image| %>
                                                <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                            <% end %>
                                        <% end %>
                                        <% if chat_message.image_id.present? %>
                                            <%= attachment_image_tag chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                        <% end %>
                                        <%= simple_format(chat_message.message) %>
                                    </div>
                                    <!--メッセージ送信時刻-->
                                    <div class="chat_time"><p><%= chat_message.created_at.to_time.hour %>:<%= chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                                </div>

                            <!--自分のメッセージ-->
                            <% elsif chat_message.user_id.present? %>
                                <div class="myself">
                                    <!--メッセージ送信時刻-->
                                    <div class="chat_time"><p><%= chat_message.created_at.to_time.hour %>:<%= chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                                    <div class="myself_chat">
                                        <% if chat_message.style_images.present? %>
                                            <% chat_message.style_images.each do |image| %>
                                                <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                            <% end %>
                                        <% end %>
                                        <% if chat_message.image_id.present? %>
                                            <%= attachment_image_tag chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                        <% end %>
                                        <%= simple_format(chat_message.message) %>
                                    </div>
                                </div>
                            <% end %>
                        <% i += 1 %>
                        <% end %>
                    </div>
                <% elsif @current_hairdresser.present? %>
                    <div id="room-<%=@room_id%>" class="hairdresser-<%=@current_hairdresser.id%>" style="height: 590px; overflow: auto;">
                        <% i = 0 %>
                        <% @chat_messages.each do |chat_message| %>
                            <% if i == 0 %>
                                <% @date = @chat_messages[i].created_at.to_date %>
                                <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                            <% elsif @chat_messages[i-1].created_at.to_date != @chat_messages[i].created_at.to_date %>
                                <% @date = @chat_messages[i].created_at.to_date %>
                                <P class="chat_date"><%= @date.month %>/<%= @date.day %>(<%= %w(日 月 火 水 木 金 土)[(@date).wday] %>)</p>
                            <% end %>

                            <!--相手のメッセージ-->
                            <% if chat_message.user_id.present? %>
                                <div class="opponent">
                                    <div class="opponent_img">
                                        <% if @user.sex == "男性" %>
                                            <img src="<%= asset_path "man.png" %>" style="width: 40px; height: 40px;">
                                        <% else %>
                                            <img src="<%= asset_path "woman.png" %>" style="width: 40px; height: 40px;">
                                        <% end %>
                                    </div>
                                    <div class="opponent_chat">
                                        <% if chat_message.style_images.present? %>
                                            <% chat_message.style_images.each do |image| %>
                                                <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                            <% end %>
                                        <% end %>
                                        <% if chat_message.image_id.present? %>
                                            <%= attachment_image_tag chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                        <% end %>
                                        <%= simple_format(chat_message.message) %>
                                    </div>
                                    <!--メッセージ送信時刻-->
                                    <div class="chat_time"><p><%= chat_message.created_at.to_time.hour %>:<%= chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                                </div>

                            <!--自分のメッセージ-->
                            <% elsif chat_message.hairdresser_id.present?  %>
                                <div class="myself">
                                    <!--メッセージ送信時刻-->
                                    <div class="chat_time"><p><%= chat_message.created_at.to_time.hour %>:<%= chat_message.created_at.to_time.strftime("%Y-%m-%d %H:%M:%S").strip[14, 2]%></p></div>
                                    <div class="myself_chat">
                                        <% if chat_message.style_images.present? %>
                                            <% chat_message.style_images.each do |image| %>
                                                <%= image_tag @hair_arry[image].to_s, style: "width: 200px; height: 200px; margin-bottom: 10px;" %>
                                            <% end %>
                                        <% end %>
                                        <% if chat_message.image_id.present? %>
                                            <%= attachment_image_tag chat_message, :image, size: "200x200", fallback: "no_image.png", style: "margin-bottom: 10px;" %>
                                        <% end %>
                                        <%= simple_format(chat_message.message) %>
                                    </div>
                                </div>
                            <% end %>
                        <% i += 1 %>
                        <% end %>
                    </div>
                <% end %>
            `
$('#messages').html(html);
$(".hidden_room").remove();
$("#message_form").children("form").append(`<input type="hidden" name="chat_message[room_id]" value="<%=@room_id%>" class="hidden_room">`)

//viewを調整
$(".chat_message").removeClass("display_none");
$(".instruction").addClass("display_none");
$(".chat_rooms").css({
    "background-color": "#FFFFF0"
})
$("#chat_room_<%=@room_id%>").css({
    "background-color": "#FFE4B5"
})

//hairdresserのスタイルの画像を用意
html2 = `
        <% i = 0 %>
        <% @style_image.hair_images.each do |hair_image| %>
            <div class="chat_hair_box box_number<%= i %> arry<%= i%>" href="<%= i%>">
                <div class="circle2"></div>
                <%= image_tag hair_image.to_s, class: "output" %>
            </div>
            <% i+=1 %>
        <% end %>
        `
$(".dark_chat").append(html2);

if (gon.user_id) { //メッセージの一番したにスクロール
    user_id = gon.user_id
    $(`.user-${user_id}`).scrollTop($(`.user-${user_id}`)[0].scrollHeight);
}
else if (gon.hairdresser_id) { //メッセージの一番したにスクロール
    hairdresser_id = gon.hairdresser_id
    $(`.hairdresser-${hairdresser_id}`).scrollTop($(`.hairdresser-${hairdresser_id}`)[0].scrollHeight);
}

