<div id="chat_page">

    <div id="chat_members">
        <div id="search_form">
        </div> 
        <% @chats.each do |chat| %>
            <%= link_to room_path(room_id: chat.room_id), remote:true, method: :post do %>
                <% @room = Room.find(chat.room_id) %>
                <div class="chat_rooms" id="chat_room_<%=@room.room_token%>">
                    <div class="inline_block">
                        <%= attachment_image_tag chat.hairdresser, :hairdresser_image, size: "70x70", fallback: "no_image.png", class: "img-circle chat_img" %>
                    </div>
                    <div class="inline_block" style="margin-left: 20px; width: 250px;">
                        <p style="color: black; font-size: 22px;"><%= chat.hairdresser.name %></p>
                        <% @last_message = ChatMessage.where(room_id: chat.room_id).last %>
                        <% if @last_message.present? %>
                            <% if 1 <= @last_message.message.length && @last_message.message.length <= 32 %>
                                <p class="chat_last_message chat_last_message_room_<%=@room.room_token%>"><%= @last_message.message %></p>
                            <% elsif 33 <= @last_message.message.length %>
                                <p class="chat_last_message chat_last_message_room_<%=@room.room_token%>"><%= @last_message.message[0..32] %>...</p>
                            <% else %>
                                <p class="chat_last_message chat_last_message_room_<%=@room.room_token%>">写真を送信しました</p>
                            <% end %>
                        <% end %>
                    </div>
                    <% @unread_number = ChatMessage.where(notification: false, room_id: chat.room_id, hairdresser_id: chat.hairdresser.id).length %>
                    <% if 1 <= @unread_number && @unread_number <= 99 %>
                        <div class="inline_block unread_number unread_number_<%=chat.room_id%>">
                            <p><%= @unread_number %></p>
                        </div>
                    <% elsif 100 <= @unread_number %>
                        <div class="inline_block unread_number unread_number_<%=chat.room_id%>">
                            <p>99+</p>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>   
    </div>

    <div id="chat">
        <p class="instruction">チャットしたい相手を選択してください</p>
        <div class="chat_message display_none">
            <div id="messages">
            </div>
            <div id="message_form">
                <%= form_with(model: @chat_message, url: message_create_path, method: :post, id: "message_form_area") do |f| %>
                    <img src="<%= asset_path "style_images.png" %>" id="chat_style_images" >
                    <label class="chat_img_label cursor2">
                        <%= f.attachment_field :image, id: "chat_img", class: "hidden" %>
                        <img src="<%= asset_path "film.png" %>" id="" >
                    </label>  
                    <img id="chat_prev_img" style="width: 32px; height: 32px;" class="display_none">
                    <div class="chat_img_save display_none"></div>
                    <span class="delete_chat_img display_none" style="font-size: 15px;">削除</span>
                    <%= f.submit "送信", class: "btn btn-success message_btn" %>
                    <%= f.text_area :message, placeholder: "メッセージを入力してください", class: "form-control chat_form" %>
                <% end %>
            </div>
        </div>
    </div>
    
</div>

<div class="dark_chat">
    <span class="glyphicon glyphicon-remove cursor dark_remove"></span>
</div>