<h2 class="res_font3" style="text-align: left"><%=@hairdresser.name%>のメニュー</h2>
<% if @menus.present? %>
    <% @menus.reverse_each do |menu| %>
        <div class="menu_card_small">
            <div class="menu_top" >
                <p class="menu_title"><%= menu.name %></p>
                <p class="menu_time_small font"><%= menu.time %>分</p>
                <p class="card_categories_small">
                    <% if menu.category[0,1] == "1" %>
                        <span class="cut_category category font" style="font-size: 13px;">カット</span>
                    <% end %>
                    <% if menu.category[1,1] == "1" %>
                        <span class="color_category category font" style="font-size: 13px;">カラー</span>
                    <% end %>
                    <% if menu.category[2,1] == "1" %>
                        <span class="curly_category category font" style="font-size: 13px;">縮毛矯正</span>
                    <% end %>
                    <% if menu.category[3,1] == "1" %>
                        <span class="perm_category category font" style="font-size: 13px;">パーマ</span>
                    <% end %>
                </p>
            </div>
            <div class="menu_bottom">
                <%= attachment_image_tag menu, :menu_image, fallback: "no_image.png", id: "prev_menu_img", style: "width: 110px; height: 110px;"%>
                <p class="menu_explain"><%= menu.explanation %></p>
            </div>
        </div>
        <%= link_to "予約する", users_set_week_calendar_reservation_path(menu_id: menu.id), class: "btn btn-success", style: "float: right;"%>
    <% end %>
<% else %>
    <p style="margin-top: 50px;">メニューはありません</p>
<% end %>