<div>
    <h2 class="profile res_font3"><%=@hairdresser.name%>のプロフィール</h2>
    <p class="intro"><%=@hairdresser.introduction%></p>
    <table class="table" style="margin-top: 70px;">
        <tbody>
            <tr>
                <td>施術内容</td>
                <td>
                    <% if @cut.include?("1") %>
                        <span class="cut_category category font">カット</span>
                    <% end %>
                    <% if @color.include?("1") %>
                        <span class="color_category category font">カラー</span>
                    <% end %>
                    <% if @perm.include?("1") %>
                        <span class="perm_category category font">パーマ</span>
                    <% end %>
                    <% if @curly.include?("1") %>
                        <span class="curly_category category font">縮毛矯正</span>
                    <% end %>
                    <% if @menus.blank? %>
                        <p>メニューがありません</P>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>メニュー数</td>
                <td><%=@menus.length%></td>
            </tr>
            <tr>
                <td>最短予約可能日時</td>
                <td>
                    <% if @first_number.present? %>
                        <% @first_reservation = @reservations[@first_number] %>
                        <%=@first_reservation.start_time.month%>月<%=@first_reservation.start_time.day%>日<%=@first_reservation.start_time.hour%>時<%=@first_reservation.start_time.min%>分
                    <% else %>
                        <p>予約可能な日時はありません</p>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>所属店舗</td>
                <td><%=@hairdresser.shop_name%></td>
            </tr>
            <tr>
                <td>性別</td>
                <td><%=@hairdresser.sex%></td>
            </tr>
        </tbody>
    </table>
    <div id="map"></div>
    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers([
            {
                "lat": "<%=@hairdresser.shop_latitude%>", //緯度
                "lng": "<%=@hairdresser.shop_longitude%>", //経度
                "infowindow": "<%=@hairdresser.shop_name%>"
            }
            ]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(16);
        });
    </script>
    <% if @current_admin.present? %>
        <p style="margin-top: 30px; font-size: 20px;">美容師免許証</p>
        <%= attachment_image_tag @hairdresser, :confirm_image, class: "hairdresser_confirm_img_big"%>
        <div class="display_inline_block">
            <%= link_to admins_permit_path(@hairdresser.id), method: :patch, class: "btn btn-success" do %>
                <p style="color: white;">承認する</p>
            <% end %>
        </div>
        <div class="display_inline_block">
            <%= link_to admins_reject_form_path(@hairdresser.id), class: "btn btn-danger" do %>
                <p style="color: white;">承認しない</p>
            <% end %>
        </div>
    <% end %>
</div>

