<div class="container main_index_content">

    <div class="search_box center">
        <span class="search_tag"><%= link_to "メニューから探す", search_index_path(turn: 1) %></span>
        <span class="search_tag"><%= link_to "日付から探す", search_index_path(turn: 2) %></span>
        <span class="search_tag"><%= link_to "エリアから探す", search_index_path(turn: 3) %></span>
        <span class="search_tag"><%= link_to "現在地から探す", search_index_path(turn: 4) %></span>
        <span class="search_tag"><%= link_to "評価から探す", search_index_path(turn: 5) %></span>
        <span class="search_tag"><%= link_to "性別から探す", search_index_path(turn: 6) %></span>
        <%= form_with(url: search_data_path, method: :post, local: true) do |f| %>
            <%= f.text_field :search_keyword, placeholder: "美容師名、メニュー名など", class: "form-control search_form_index" %>
            <%= f.submit "検索", class: "btn btn-primary search_btn2" %>
        <% end %>
    </div>
    <div class="center">
        <%= @none %>
    </div>
    <% @hairdressers.each do |hairdresser| %>
        <div class="hairdresser_show">
            <%= link_to users_hairdresser_path(hairdresser.id), remote: true do %>
                <%= attachment_image_tag hairdresser, :hairdresser_image, size: "150x150", fallback: "no_image.png", class: "img-circle" %>
            <% end %>
            <h3 style="color: black; text-decoration: none;"><%= hairdresser.name %></h3>
            <div id="star-rate-index-average-<%= hairdresser.id %>"></div>
                <!-- 星をつけるための記述 -->
                <% @comments = hairdresser.hairdresser_comments.where.not(rate: 0.0).count %>
                <script>
                    $('#star-rate-index-average-<%= hairdresser.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        //reputation_pointは評価ポイント(星)の合計　@commentsはコメントの数(評価ポイントをくれた人の人数) この二つで平均を出す　
                        score: <%= hairdresser.reputation_point %>/<%= @comments %>,
                    });
                </script>
                <!-- ここまで -->
            <div class="show_introduction">
                <%= hairdresser.introduction.slice(0..4) %>
            </div>
        </div>
    <% end %> 
    
    <div class="" style="margin-top: 50px; margin-bottom: 100px;">
        <% if @menus.present? %>
            <% @menus.reverse_each do |menu| %>
                <div class="menu_card2">
                    <div class="menu_top" >
                        <div>
                            <%= link_to users_hairdresser_path(menu.hairdresser.id), remote: true do %>
                                <%= attachment_image_tag menu.hairdresser, :hairdresser_image, size: "70x70", fallback: "no_image.png", class: "img-circle face_img" %>
                            <% end %>
                            <span class="title2 font"><%= menu.name %></span>
                            <span class="menu_time2 font res_time"><%= menu.time %>分</span>
                            <% if menu.category[0,1] == "1" %>
                                <span class="cut_category category font" style="font-size: 13px;">カット</span>
                            <% end %>
                            <% if menu.category[1,1] == "1" %>
                                <span class="color_category category font" style="font-size: 13px;">カラー</span>
                            <% end %>
                            <% if menu.category[2,1] == "1" %>
                                <span class="curly_category category font" style="font-size: 13px;">縮毛矯正</span>
                            <% end %>
                            <% if menu.category[3,1] == "1" %>
                                <span class="perm_category category font" style="font-size: 13px;">パーマ</span>
                            <% end %>
                            <div class="res_info">
                                <div style="margin-left: 15px;"><%= menu.hairdresser.name %></div>
                                <div class="star-rate-<%= menu.hairdresser.id %>"></div>
                            </div>
                                <!-- 星をつけるための記述 -->
                                <% @comments = menu.hairdresser.hairdresser_comments.where.not(rate: 0.0).count %>
                                <script>
                                    $('.star-rate-<%= menu.hairdresser.id %>').raty({
                                        size: 36,
                                        starOff:  '<%= asset_path('star-off.png') %>',
                                        starOn : '<%= asset_path('star-on.png') %>',
                                        starHalf: '<%= asset_path('star-half.png') %>',
                                        half: true,
                                        readOnly: true,
                                        
                                        //reputation_pointは評価ポイント(星)の合計　@commentsはコメントの数(評価ポイントをくれた人の人数) この二つで平均を出す　
                                        score: <%= menu.hairdresser.reputation_point %>/<%= @comments %>,
                                    });
                                    //sizeを変えてもsize変わらなかったのでここで記述する
                                    $('.star-rate-<%= menu.hairdresser.id %>').children("img").css({
                                        "width": "13px"
                                    })
                                    $('.star-rate-<%= menu.hairdresser.id %>').children("img").eq(0).css({
                                        "margin-left": "5px"
                                    })
                                </script>
                                <!-- ここまで -->
                        </div>
                    </div>
                    <div class="menu_bottom2">
                        <%= attachment_image_tag menu, :menu_image, fallback: "no_image.png", id: "prev_menu_img" %>
                        <div class="explain font"><%= menu.explanation %></div>
                    </div>
                    <%= link_to "予約する", users_set_week_calendar_reservation_path(menu_id: menu.id), class: "btn btn-success reserve_btn" %>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="center">
        <% if @hairdressers.present? && @hairdressers.length >= 36 && @menus.present? && @menus.length >= 11 %>
            <%= paginate @hairdressers %> <!--ページネーションのviewは一つだけ-->
        <% elsif @hairdressers.present? && @hairdressers.length >= 36 %>
            <%= paginate @hairdressers %>
        <% elsif @menus.present? %>
            <%= paginate @menus %>
        <% end %>
    </div>
</div>

<!-- 美容師のshowモーダルを表示するための記述 -->
<div id="hairdresser_show" class=""></div>




