<div class="container" style="padding-top: 40px;">

    <div class="col-xs-5">
        <div class="hairdresser_box">
            <%= attachment_image_tag @current_hairdresser, :hairdresser_image, size: "100x100", fallback: "no_image.png", class: "img-circle"%>
            <div>
                <p class="hairdresser_show_name"><%= @current_hairdresser.name %></p>
            </div>
            <div style="margin-top: 50px;">
                <%= @current_hairdresser.introduction %>
            </div>
            <hr color="black">
            <p>評価</p>
            <div id="star-rate-index-average-<%= @current_hairdresser.id %>"></div>
            <% @comments = @current_hairdresser.hairdresser_comments.where.not(rate: nil).count %>
                <script>
                    $('#star-rate-index-average-<%= @current_hairdresser.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        //reputation_pointは評価ポイント(星)の合計　@commentsはコメントの数(評価ポイントをくれた人の人数) この二つで平均を出す　
                        score: <%= @current_hairdresser.reputation_point %> / <%= @comments %>,
                    });
                </script>
        
        </div>
    </div>

    <div class="col-xs-7">
        <h2>今日の予約</h2>
            <% @reservations.each do |reservation| %>
                <% if reservation.menu.hairdresser_id == @current_hairdresser.id && reservation.start_time.year == Date.today.year && reservation.start_time.month == Date.today.month && reservation.start_time.day == Date.today.day && reservation.user_id.present?%>
                    <%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分
                    <% user_id = reservation.user_id %>
                    <% user = @user_model.find(user_id) %>
                    <%= user.name %>さん
                <% end %>
            <% end %>
        <h2>明日の予約</h2>
    </div>

</div>
