<div class="container">
<h1>ようこそ<%= @hairdresser.name %></h1>
<h2>今日の予約</h2>
<% @reservations.each do |reservation| %>
    <% if reservation.menu.hairdresser_id == @current_hairdresser.id && reservation.start_time.year == Date.today.year && reservation.start_time.month == Date.today.month && reservation.start_time.day == Date.today.day && reservation.user_id.present?%>
        <%= reservation.start_time.hour %>時<%= reservation.start_time.min %>分
        <% user_id = reservation.user_id %>
        <% user = @user_model.find(user_id) %>
        <%= user.name %>さん
        <% if reservation.cancel_status == 1 %>
             
        <% end %>
    <% end %>
<% end %>
<%= link_to "メニューを作る", new_menu_path %>
<%= link_to "メニュー一覧へ", menus_path %>
</div>
