<!DOCTYPE html>
<html>
  <head>
    <title>Chokichoki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://js.pay.jp/' type='text/javascript'></script>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
        <header>
            <%= link_to root_path do %>
                <img src="/assets/cho.png" alt="" class="log">
            <% end %>
            <div class="container">
                <div class="sign_in_block">
                    <h2 class="cursor login">ログイン</h2>
                    <div class="answer">
                        <p class="cursor user_open_modal btn-succes">会員ログイン</p>
                        <p class="cursor hairdresser_open_modal btn-succes">美容師ログイン</p>
                    </div>
                </div>
                <div class="sign_up_block">
                    <h2 class="cursor sign_up">新規会員登録</h2>
                    <div class="answer2">
                        <p><%= link_to "会員登録",  new_user_path, class: " btn-succes" %></p>
                        <p><%= link_to "美容師登録", new_hairdresser_path, class: " btn-succes" %></p>
                    </div>
                </div>
            </div>
        </header>
        <div class="container main_content">
            <h3>500円で美容院に行ける!!</h3>
            <h3>カットもカラーもすべて500円!!</h3>
            <h3>登録無料!!</h3>
            <h3>今なら500ポイントプレゼント!!(1回利用無料)</h3>
        </div>
    </div>
    <%= yield%>
  </body>
</html>
<!--<% if @current_user %>
            <%= link_to "userログアウト", user_logout_path, method: :post %>
        <% end %>
        <% if @current_hairdresser %>
            <%= link_to "hairdresserログアウト", hairdresser_logout_path, method: :post %>
        <% end %>
        <%= link_to "adminへ", admins_hairdresser_judge_index_path %>-->