<!DOCTYPE html>
<html>
  <head>
    <title>Chokichoki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://js.pay.jp/' type='text/javascript'></script>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield%>
  </body>
</html>
<!--<% if @current_user %>
            <%= link_to "userログアウト", user_logout_path, method: :post %>
        <% end %>
        <% if @current_hairdresser %>
            <%= link_to "hairdresserログアウト", hairdresser_logout_path, method: :post %>
        <% end %>
        <%= link_to "adminへ", admins_hairdresser_judge_index_path %>-->