<!DOCTYPE html>
<html>
  <head>
    <title>Chokichoki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://js.pay.jp/' type='text/javascript'></script>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <% if @current_user %>
            <%= link_to "userログアウト", user_logout_path, method: :post %>
        <% end %>
        <% if @current_hairdresser %>
            <%= link_to "hairdresserログアウト", hairdresser_logout_path, method: :post %>
        <% end %>
        <%= link_to "adminへ", admins_hairdresser_judge_index_path %>
        <div class="pull_down">
            <h3 class="cursor login">ログイン</h3>
            <div class="answer">
                <div class="cursor user_open_modal">会員ログイン</div>
                <div class="cursor hairdresser_open_modal">美容師ログイン</div>
            </div>
        <div class="pull_down">
        <h3 class="cursor sign_up">新規会員登録</h3>
        <div class="answer2">
            <div><%= link_to "会員登録",  new_user_path, class: "btn btn-success" %></div>
            <div><%= link_to "美容師登録", new_hairdresser_path, class: "btn btn-success" %></div>
        </div>
    </div>
    </div>
    </header>
    <%= yield %>
  </body>
</html>
